/* 
Flickr Photostream
Version: 1.3
Author: Miro Mannino
Author URI: http://miromannino.it

Copyright 2012 Miro Mannino (miro.mannino@gmail.com)
thanks to Dan Coulter for phpFlickr Class (dan@dancoulter.com)

This file is part of Flickr Photostream.

Flickr Photostream is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by the Free Software 
Foundation, either version 3 of the License, or (at your option) any later version.

Flickr Photostream is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with Flickr 
Photostream Wordpress Plugin.  If not, see <http://www.gnu.org/licenses/>.
*/

html { overflow-y: scroll; } /*to prevent the loop when the scrollbar appear and disappear*/

.page-link .nav-flickrps-next, .page-link .nav-flickrps-prev { display: inline-block; }

.flickrps-container { width: 100%; }
.flickrps-container .flickrps-image {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    margin-left: 0px;
}
.flickrps-container .flickrps-image img {
    border: none;
    opacity: 0;
    filter:alpha(opacity=0);
}
.flickrps-container .flickrps-image img { max-width: 100%; }
.flickrps-container { margin-bottom: 10px; }

.flickrps-meta, .flickrps-images { display: none; }

.flickrps-loading-img{
    margin: auto;
    width: 50px;
    height: 50px;
    background:url(../images/loading.gif) no-repeat center center;
}
.flickrps-loading{
    margin: auto;
    width: 50px;
    height: 50px;
    background-color: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.flickrps-row {
    position: relative;
    white-space: nowrap;    
    overflow:hidden;
    margin-bottom: 4px;
}

.flickrps-image {   
    position:relative;
}

.flickrps-image a {
    text-decoration: none;
}

.flickrps-image-label {
    white-space: normal;
    font: normal 12px arial;
    background: #000;
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    padding: 5px 5px 10px 8px;
    text-align: left;
    opacity: 0;
    filter:alpha(opacity=0); //IE8 or Earlier
}